<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Plateau Medical Dematerialise</title>
</head>

<body>
    <div class="container" style="background-color: #ffffff;">
        <section>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="assets/images/20190612_015145_0000.png" class="card-img" alt="logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Bienvenue</h5>
                            <p class="card-text">Veuillez choisir une section en fonction de votre situation</p>
                            <p class="card-text"><small class="text-muted">TP groupe 2 : Joana / Adam / Ludivine / Gildas</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="shadow-sm p-3 mb-5 bg-white rounded text-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width: 21rem;">

                        <div class="w3-card-4">
                            <img src="assets/images/patient.png" alt="Patient" class="card-img-top">
                            <h5 class="card-title">PATIENT</h5>
                            <p class="card-text">Prenez rdv avec un praticien et faites vous rembourser par l'un des payeurs partenaire.
                            </p>
                            <div class="w3-container w3-center">
                                <button routerLink="/accueilPatient" class="btn btn-primary mr-2">Accueil
                                    Patient</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card" style="width: 21rem;">
                        <div class="w3-card-4">
                            <img src="assets/images/praticien.png" alt="Praticien" class="card-img-top">
                            <h5 class="card-title">PRATICIEN</h5>
                            <p class="card-text">Accès aux personnels de soin. Gérez vos rdv et vos partenariat avec les différents payeurs
                            </p>
                            <div class="w3-container w3-center">
                                <button routerLink="/accueilPraticien" class="btn btn-primary mr-2">Accueil
                                    Praticien</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card" style="width: 21rem;">
                        <div class="w3-card-4">
                            <img src="assets/images/dossier.png" alt="Payeur" class="card-img-top">
                            <h5 class="card-title">Payeurs</h5>
                            <p class="card-text">Section réserver aux organismes et entreprise permetant le remboursement des soins.
                            </p>
                            <div class="w3-container w3-center">
                                <button routerLink="/accueilPayeur" class="btn btn-primary mr-2">Accueil
                                    Payeur</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</body>
<footer></footer>

</html>