<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
 <title>Paytm</title>

</head>
<body>
    <form method="post" action="http://localhost:3001/api/paytm/request">
        <input type="text" id="ORDER_ID" name="ORDER_ID" value="Parth123jkljllgfmhgkjvf" >
        <input type="text" id="INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" value="Retail" >
        <input type="text" id="CUST_ID" name="CUST_ID" value="Parth1234" >
        <input type="text" id="CHANNEL_ID" name="CHANNEL_ID" value="WEB" >
        <input type="text" id="TXN_AMOUNT" name="TXN_AMOUNT" value="100" >
        <input type="text" id="WEBSITE" name="WEBSITE" value="WEBSTAGING" >
        <input type="text" id="MID" name="MID" value="VCLqhb69245037670921" >
        <input type="text" id="PAYTM_MERCHANT_KEY" name="PAYTM_MERCHANT_KEY" value="B!d1J2&y89NlB0Kw" >
        <button type="submit">Submit</button>

        

    </form>
</body>







</html>